mixin head(title)
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=cyrillic')
    link(rel='shortcut icon', href='./images/icons/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='./scripts/vendor/jquery.swipebox.min.js')
    script(src='./scripts/vendor/jquery.fatNav.min.js')
    script(src='./scripts/vendor/placeholder.min.js')
    script(src='./scripts/vendor/slick.min.js')
    script(src='./scripts/scripts.js', defer)
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')