mixin header(activeLink)
  header.row.header.inner
    .col-sm-3.col-md-offset-1.col-xs-10
      h1.logo.ir
        a.logo__link(href='/') RoboClub IF
    nav.col-sm-9.col-md-7.hidden-xs.main-nav
      ul.main-menu
        li.main-menu__item(class= activeLink === 'index' ? 'active' : '')
          a.main-menu__link(href='/') Головна
        li.main-menu__item.has-sub(class= activeLink === 'about' ? 'active' : '')
          a.main-menu__link(href='/team.html') Про нас
          ul.sub-menu
            li.sub-menu__item
              a.sub-menu__link(href='/team.html') Команда
            li.sub-menu__item
              a.sub-menu__link(href='/mission.html') Місія
            li.sub-menu__item
              a.sub-menu__link(href='/presentations.html') Презентації
            li.sub-menu__item
              a.sub-menu__link(href='/reports.html') Фінансові звіти
            li.sub-menu__item
              a.sub-menu__link(href='/partners.html') Партнери
            li.sub-menu__item
              a.sub-menu__link(href='/comments.html') Відгуки
            li.sub-menu__item
              a.sub-menu__link(href='/faq.html') FAQ
        li.main-menu__item.has-sub(class= activeLink === 'courses' ? 'active' : '')
          a.main-menu__link(href='/courses.html') Курси
          ul.sub-menu
            li.sub-menu__item
              a.sub-menu__link(href='/course.html') Lego Mindstorm
        li.main-menu__item(class= activeLink === 'news' ? 'active' : '')
          a.main-menu__link(href='/news.html') Новини
        li.main-menu__item(class= activeLink === 'gallery' ? 'active' : '')
          a.main-menu__link(href='/gallery.html') Галерея
        li.main-menu__item(class= activeLink === 'contacts' ? 'active' : '')
          a.main-menu__link(href='#') Контакти
      ul.main-socials
        li.main-socials__item
          a.main-socials__link(href='#')
            i.fa.fa-facebook(aria-hidden='true')
        li.main-socials__item
          a.main-socials__link(href='#')
            i.fa.fa-vk(aria-hidden='true')
        li.main-socials__item
          a.main-socials__link(href='#')
            i.fa.fa-instagram(aria-hidden='true')
    .fatnav.hidden-sm.hidden-md.hidden-lg *FATNAV HERE*