mixin report(date, text, buttonText)
  li.reports-list__item
    a.reports-list__link(href='#')
      p.reports-list__date= date
      h3.reports-list__title= text
      .reports-list__btn= buttonText