mixin teamMember(name, desc, photoSRC, socials)
  .col-xs-6.col-sm-4.col-md-3.team-member-wrapper
    .person-desc-wrapper
      img.team-member-photo(src=photoSRC, alt=name)
      .person-full-desc
        span Et in dolore est culpa adipisicing do dolore dolor in enim do do labore non in id ut velit aliqua tempor id proident ut in do.
    .person-short-desc
      h3= name
      .person-socials
        each social, index in socials
          a.fa(href=social.link,class='fa-'+social.name)