/* Content
-----------------------------------------------------------------------------*/

.content {

}

.content-title{
	display: flex;
	align-content: center;
	align-items: center;
	height: 222px;
	color: #fff;
	justify-content: center;
	padding: 44px 0 0;
	margin: 0 0 36px;
	font-size: 21px;
	letter-spacing: 0.01em;
	background: url(../images/icons/gears-white.svg) center center no-repeat;
	background-size: 1300px auto;
	background-color: #eba351;
}

.long-title{
	background: #00b8d4;
	color: #fff;
	font-size: 21px;
	text-align: center;
	margin: 20px -9999px 28px;
	padding: 9px 9999px 11px;
}

.section{
	padding: 38px 0;

	&.dark{
		.section__title,
		.section__subtitle{
			color: $clr-white;
		}

	}

	&__title{
		font-size: 22px;
		line-height: 1.4;
		text-align: center;
		margin: 0;
		padding: 0;
		color: $clr-yellow;
	}

	&__subtitle{
		font-size: 16px;
		line-height: 1.4;
		text-align: center;
		margin: 4px 0 24px;
		padding: 0;
		color: $clr-yellow;

		&.light{
			color: $clr-white;
		}
	}
}

.intro{
	padding: 233px 0 175px;
	margin: 0 0 -42px;
	min-height: 622px;
	position: relative;
	/*background: url(../svg/intro-bottom.svg) no-repeat bottom center
		,linear-gradient(
		rgba(67, 65, 74, 0.6),
		rgba(67, 65, 74, 0.6)
		), url(../img/intro-bg.jpg) no-repeat center;
	background-size: 100% 150px, auto, cover;*/
	background: linear-gradient(
		rgba(67, 65, 74, 0.6),
		rgba(67, 65, 74, 0.6)
		), url(../images/intro-bg.jpg) no-repeat center;
	background-size: auto, cover;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 180px;
		min-width: 1280px;
		background: url(../images/icons/intro-bottom.svg) no-repeat bottom center;
		background-size: 100%;
	}

	&__inner {
		max-width: 500px;
	}

	&__title{
		font-size: 31px;
		color: #fff;
		font-weight: 300;
		margin: 0;
	}

	&__p{
		font-size: 21px;
		color: #eba352;
		margin: 4px 0;
	}

	&__btn{
		margin: 19px 0 58px;
	}

	&__btn-video{
		font-size: 14px;
		background: transparent;
		border: none;
		display: block;
		color: #fff;
		cursor: pointer;
		padding: 0;

		&:hover {

			i {
				left: 3px;
			}
		}

		i {
			font-size: 21px;
			vertical-align: top;
			position: relative;
			top: -2px;
			left: 0;
			margin: 0 10px 0 0;
			transition: all .2s;
		}
	}
}

.mission-section {
	padding-bottom: 25px;

	&__title{
		color: $clr-yellow;
		font-size: 21px;
		margin: 13px 0 17px;
	}

	&__cols{
		display: flex;
		justify-content: space-between;
	}

	&__col{
		position: relative;
		font-size: 13px;
		line-height: 1.2;
		flex: 1 1 32%;
		margin: 0 0 0 2%;
		margin: 0 0 0 24px;
		text-align: justify;
		letter-spacing: -0.01em;

		&:first-child{
			margin: 0;
		}

		.robo-img{
			position: absolute;
			bottom: 21px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	p {
		margin: 0 0 1em;
	}
}

.robo-img{
	height: 474px;
	width: 330px;
	background: url(../images/icons/robo.svg) center top no-repeat;
}

.quotes-section {
	min-height: 302px;
	background: url(../images/icons/gears.svg) center center no-repeat;
	background-color: #00b8d4;
	background-size: 1300px auto;

	&:before {
		content: '';
		width: 64px;
		height: 46px;
		display: block;
		display: block;
		margin: 0 auto 5px;
		background: url(../images/icons/quotes.svg) no-repeat;
	}
}

.quotes-slider {

	&__slide {
		margin: 0;
	}

	&__text{
		max-width: 500px;
		margin: 28px auto 0;
		line-height: 1.3;
		letter-spacing: 0.015em;
		font-size: 12px;
		color: #fff;
		text-align: center;
	}

	&__author{
		display: block;
		max-width: 500px;
		margin: 11px auto;
		line-height: 1.3;
		letter-spacing: 0.015em;
		font-size: 14px;
		font-style: normal;
		color: $clr-yellow;
		text-align: center;
	}

	&__photo {

	}

	&__nav {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 8px 0;
		list-style: none;

		li {
			margin: 0 8px;
			width: 46px;
			height: 46px;
			overflow: hidden;
			opacity: 0.7;
			filter: grayscale(100%);

			&:hover {
				cursor: pointer;
			}

			&.slick-active {
				opacity: 1;
				filter: grayscale(0%);
			}

			img{
				border-radius: 50%;
				display: block;
			}
		}

	}
}

.big-news{
	display: flex;
	padding: 0;
	margin: 20px 0 12px -26px;
	list-style: none;
	flex-wrap: wrap;

	&.last {
		margin-bottom: 0;
	}

	&__item{
		position: relative;
		width: 240px;
		height: 240px;
		border-radius: 4px;
		overflow: hidden;
		background: #ccc;
		margin: 0 0 26px 26px;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: #EBA352;
			opacity: .6;
			border-radius: 5px;
		}

		&.blue{
			&:after{
				background: #00A5B6;
			}

			.big-news__desc:after{
				border-color: #00A5B6 transparent transparent transparent;
			}
		}

	}

	&__photo {
		width: 100%;
		height: auto;
	}

	&__desc{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		padding: 25px 20px;
		display: flex;
		flex-direction: column;

		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 240px 240px 0 0;
			border-color: #EBA352 transparent transparent transparent;
			opacity: .6;
			z-index: -1;
		}

		&:hover{


			.big-news__link{
				opacity: 1;
			}
		}
	}

	&__title{
		font-size: 14px;
		margin: 0 0 7px;
		width: 160px;

		a{
			color: #fff;
		}
	}

	&__date{
		font-size: 12px;
		margin: 0;
		width: 100px;
	}

	&__link{
		text-align: center;
		margin: auto 15px 0;
		opacity: 0;

		.fa{
			margin: 0 5px 0 0;
		}
	}

	&__age {
		display: block;
		margin: 10px 0;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		text-align: center;
		font-size: 21px;
		line-height: 41px;
		color: #00b8d4;
		background: #fff;
	}
}

.ready{
	min-height: 248px;
	margin: 12px 0 0;
	display: flex;
	align-items: center;
	background: url(../images/ready_bg.jpg) center center no-repeat;
	background-size: cover;
}

.partners-list{
	padding: 0;
	max-width: 800px;
	margin: 12px auto;
	list-style: none;
	display: flex;
	justify-content: space-between;

	&__item{
		display: block;
		width: 100px;
		height: 46px;
		opacity: 0.6;
		transition: all .2s;

		&:hover{
			opacity: 1;
		}

		img {
			display: block;
		}
	}
}

.contacts-section {
	position: relative;
	background: #00b8d4;
	color: #fff;
	min-height: 400px;

	&__col{
		width: 50%;
		padding: 0 5% 0 0;
	}

	.section__title{
		text-align: left;
	}

	&__info{
		display: flex;
		margin-bottom: 34px;
	}

	&__info-item{
		position: relative;
		padding: 0 0 0 30px;
		margin: 11px 0;
		flex: 1 1 50%;

		i{
			font-size: 24px;
			position: absolute;
			left: 1px;
			top: 3px;
		}

		p{
			padding: 0;
			margin: 0;
			font-size: 13px;
		}

		a {
			color: inherit;

			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	&__map-wrap{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 50%;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 28px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 37px 0 37px 37px;
			border-color: transparent transparent transparent #00b8d4;
			z-index: 1;
		}

		#map{
			width: 100%;
			height: 100%;
		}
	}
}

.article-container {
	max-width: 684px;
	margin: 0 auto 30px;
	text-align: justify;
	font-size: 14px;
	line-height: 1.4;
}

.article{

	p {
		font-size: 14px;
		margin: 10px 0 20px;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 1em auto;
	}

	h3 {
		color: $clr-yellow;
		font-size: 16px;
		margin: 20px 0 10px;
	}

	ul {
		@extend .basic-list;
	}

	li {
		@extend .basic-list__item;
	}
}

.article-footer {
	@extend .clearfix;

	&__share {
		width: 50%;
		float: left;
		min-height: 1px;
	}

	&__info {
		width: 50%;
		float: left;
		text-align: right;
	}

	&__date {
		margin: 0;
	}

	&__author {
		margin: 0;
	}

}

.basic-list{
	padding: 0;
	margin: 0;
	list-style: none;

	&__item{
		padding: 0 0 0 60px;
		margin: 16px 0;
	}
}

.reports-list {
	padding: 0;
	margin: 0 0 20px -25px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	letter-spacing: 0.01em;

	&__item{
		flex: 1 1 270px;
		margin: 0 0 23px 20px;
	}

	&__link {
		color: #009dc4;
		display: block;
		padding: 5px;

		&:hover {
			background: #00b8d4;
			color: #fff;

			.reports-list__btn {
				color: #fff;
				padding: 0 0 0 25px;

				&:before {
					left: -3px;
				}
			}
		}
	}

	&__date {
		padding: 4px 8px;
		margin: 0 0 7px;
		font-size: 12px;
		display: inline-block;
		background: #eba351;
		color: #fff;
		border-radius: 2px;
		border: 1px solid #e79332;
	}

	&__title {
		padding: 0 0 16px;
		margin: 0 0 9px;
		font-weight: normal;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: -0.01em;
		border-bottom: 1px solid #eba351;
	}

	&__btn {
		color: #eba351;
		font-size: 14px;
		display: inline-block;
		transition: all .1s;
		overflow: hidden;

		&:before {
			content: '';
			display: inline-block;
			width: 5px;
			height: 5px;
			position: relative;
			left: -6px;
			border: 1px solid #fff;
			border-width: 0 0 1px 1px;
			transform: rotate(-135deg);
			transform-origin: 0;
		}
	}
}

.pager-list {
	padding: 0;
	margin: 0 0 40px;
	list-style: none;
	font-size: 16px;
	text-align: center;

	&__item{
		margin: 0 10px;
		display: inline-block;
	}

	&__link {
		@extend .basic-btn;
		@extend .basic-btn.yellow;
		display: inline-block;

		&[disabled] {
			cursor: default;
			opacity: 0.5;
		}
	}
}

.section-404 {
	padding: 120px 0 100px;
	text-align: center;

	&__title {
		font-size: 100px;
		font-weight: bold;
		color: #eba352;
	}

	&__info {
		margin: 0 0 3em;
	}

	&__back {

		.fa {
			margin-right: 5px;
		}
	}
}


.container-fluid {
	padding: 0;
}