include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/faq
include ./templates/course
include ./templates/preview

doctype html
html(lang='uk')
  +head('RoboClub Course')
  body.course
    .wrapper
      +header('courses')
      main.content
        h2.content-title Lego Mindstorms
        .container
          .row.short-desc
            .row
              .col-xs-12
                h3.subtitle План занять
            +coursePlan('1-3', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('4-5', 2, 'Reprehenderit adipisicing anim in aliquip deserunt sunt exercitation dolore ut exercitation consequat in irure.')
            +coursePlan('6-7', 2, 'Laborum deserunt esse minim ad consectetur anim consectetur non proident.')
            +coursePlan('8', 2, 'Lorem ipsum minim commodo quis ad minim minim do mollit non cupidatat ullamco aliquip est culpa.')
            +coursePlan('9', 2, 'Consectetur proident consequat dolore elit dolore aliqua sed ut sint irure pariatur cillum quis eiusmod mollit.')
            +coursePlan('10', 2, 'Exercitation fugiat aliqua ut veniam reprehenderit ad sed pariatur commodo aliquip qui in culpa.')
            +coursePlan('11-12', 2, 'Dolore minim ut occaecat do minim incididunt aute velit elit ut eiusmod ut non reprehenderit veniam excepteur non.')
            .row.course-tasks
              .col-sm-6
                h3.subtitle Мета курсу
                span.desc Lorem ipsum in ad aliquip incididunt mollit cupidatat exercitation incididunt velit pariatur occaecat quis ex velit amet cupidatat aliquip minim nisi et veniam sint.
                br
                .basic-btn.red.signinButton Записатись на курс
              .col-sm-6
                h3.subtitle Хід заняття
                span.desc Est ut irure sit est veniam consequat sunt id sunt in qui pariatur commodo pariatur eiusmod proident dolor exercitation dolor elit occaecat in aliquip occaecat veniam id dolor dolore sed excepteur commodo duis veniam id.
        .container-fluid.gallery-preview-wrapper
          .container
            .row.gallery-preview
              h3 Галерея
              .gallery-preview-slider
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
        .container.lessons-desc
          +lessonPlan('1', 'Робот із сенсором відстані та повороту', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('2', 'Робот із сенсорами дотику та кольору', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('3', 'Робот із клешнею та підйомним механізмом. Комбінація двигун + сенсор відстані', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('4', 'Складання базової моделі сортувальник/робот-рука', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('5', 'Складання базової моделі гіробой/собака', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('6', 'Модульний екскаватор', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('7', 'Розвідний міст', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('8', 'Збирання радіокерованої моделі автомобіля', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('9', 'Підготовка до робо-сумо', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('10', 'Випускне заняття. Робо-сумо', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('11 (додаткове)', 'Відпрацювання', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('12 (додаткове)', 'Відпрацювання', [
            {text: 'Sit laboris duis elit laboris anim amet incididunt pariatur laborum sed nisi dolor sint.', estimate: '~2 хв'},
            {text: 'Amet elit ut laboris amet aute velit ut ut labore irure adipisicing dolor anim nulla cillum pariatur.', estimate: '~3 хв'},
            {text: 'Nostrud occaecat ex amet in velit ut aliqua commodo sint nostrud.', estimate: '~10 хв'},
            {text: 'In cillum ut velit veniam laborum anim veniam elit.', estimate: '~15 хв'},
            {text: 'Duis amet incididunt do dolor dolore laboris ea enim aute ullamco reprehenderit aute pariatur fugiat dolore ut minim.', estimate: '~20 хв'},
            {text: 'Tempor in esse culpa sed anim ea in ullamco sint consectetur nulla sed nostrud.', estimate: '~7 хв'},
            {text: 'Ex deserunt tempor consequat esse nulla labore ad ad mollit.', estimate: '~5 хв'},
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')
          +lessonPlan('0', 'Додатки', [
            { subtitle: 'Теоретична частина:', text: 'Eiusmod excepteur qui quis veniam est sint culpa id.' },
            { subtitle: 'Додаткові матеріали:', text: 'Non ut aliquip proident nulla consequat nostrud laborum dolor.' },
            { subtitle: 'Інструкції:', text: 'Non ut aliquip proident nulla consequat nostrud laborum dolor.' },
            { subtitle: 'Інше:', text: 'Sed officia adipisicing occaecat nostrud.' },
          ], 'Ad ut pariatur dolor sunt sed veniam duis amet excepteur sint laborum in laborum pariatur dolor aute amet in dolore ut dolore veniam laboris. Sint ea consequat minim ea nostrud veniam incididunt consectetur ullamco officia irure proident sed qui fugiat aliqua sint do esse eu fugiat est quis duis elit irure id incididunt ad elit anim do velit eiusmod adipisicing ut.')


          .row.course-actions
            .col-xs-4.signin-button-wrapper
              .basic-btn.red.signin-button Записатись на курс
            .socials-wrapper.col-md-3.col-sm-6.col-xs-8.pull-right
              span.fa.fa-facebook
              span.fa.fa-twitter
              span.fa.fa-ellipsis-h
              span.share-count 4.2k
        .container-fluid.see-also-header-wrapper
          h2.see-also-header Дивіться також
        .container.courses-preview-wrapper
          +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'progr', 'data-age': 5, 'data-pay': 'free' },
              icon: 'age',
              link: '#',
              bgSRC: './images/news_3.jpg'
            })
          +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'progr', 'data-age': 18, 'data-pay': 'free' },
              icon: 'age',
              link: '#',
              blue: true,
              bgSRC: './images/news_1.jpg'
            })
          +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'progr', 'data-age': 9, 'data-pay': 'free' },
              icon: 'age',
              link: '#',
              bgSRC: './images/news_2.jpg'
            })
          +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'progr', 'data-age': 12, 'data-pay': 'free' },
              icon: 'age',
              link: '#',
              blue: true,
              bgSRC: './images/news_4.jpg'
            })
        +contacts()
      +footer()