include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/course
include ./templates/preview

doctype html
html(lang='uk')
  head
    +head('RoboClub Courses')
  body
    .wrapper
      +header('courses')
      main.content
        h2.content-title Курси
        .container
          form.courses-filter.row
            h4.courses-filter__title.col-sm-3 Фільтрувати
            .courses-filter__form-line.col-sm-3
              select.basic-select(data-filter='cat')
                option(value='') Напрям
                option(value='constr') Конструювання
                option(value='progr') Програмування
            .courses-filter__form-line.age.col-sm-3
              select.basic-select(data-filter='age')
                option(value='') Вік
                option(value='5') 5+
                option(value='8') 8+
                option(value='9') 9+
                option(value='18') 18+
            .courses-filter__form-line.col-sm-3
              select.basic-select(data-filter='pay')
                option(value='') Платність
                option(value='free') Безкоштовно
                option(value='premium') Платно
          ul.big-news.courses.row
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 9, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 18, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 5, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 18, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 5, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 9, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 5, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 8, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 9, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 18, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 18, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
            })
            +preview({
              title: 'Lorem ipsum is simply dummy text',
              attrs: { 'data-cat': 'contsr', 'data-age': 18, 'data-price': 'free' },
              icon: 'age',
              bgSRC: './images/news_1.jpg',
              buttonText: 'Дивитись',
              sizes: {xs: 3},
              blue: true,
            })
        +contacts()
      +footer()
