include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/faq
include ./templates/course

doctype html
html(lang='uk')
  +head('RoboClub Course')
  body.course
    .wrapper
      +header('about')
      main.content
        h2.content-title Lego Mindstorms
        .container
          .row.short-desc
            .row
              .col-xs-12
                h3.subtitle План занять
            +coursePlan('1-3', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('4-5', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('6-7', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('8', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('9', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('10', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            +coursePlan('11-12', 2, 'Nostrud nisi deserunt in aute esse ea cupidatat deserunt eiusmod velit ullamco sunt dolor incididunt.')
            .row.course-tasks
              .col-sm-6
                h3.subtitle Мета курсу
                span.desc Lorem ipsum in ad aliquip incididunt mollit cupidatat exercitation incididunt velit pariatur occaecat quis ex velit amet cupidatat aliquip minim nisi et veniam sint.
                br
                .basic-btn.red.signinButton Записатись на курс
              .col-sm-6
                h3.subtitle Хід заняття
                span.desc Est ut irure sit est veniam consequat sunt id sunt in qui pariatur commodo pariatur eiusmod proident dolor exercitation dolor elit occaecat in aliquip occaecat veniam id dolor dolore sed excepteur commodo duis veniam id.
        .container-fluid.gallery-preview-wrapper
          .container
            .row.gallery-preview
              h3 Галерея
              .gallery-preview-slider
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
                .slide
                  img(src='images/news_1.jpg', alt='Slide')
                .slide
                  img(src='images/news_2.jpg', alt='Slide')
                .slide
                  img(src='images/news_3.jpg', alt='Slide')
                .slide
                  img(src='images/news_4.jpg', alt='Slide')
        +contacts()
      +footer()