include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/course

doctype html
html(lang='uk')
  head
    +head('RoboClub Courses')
  body
    .wrapper
      +header('courses')
      main.content
        h2.content-title Курси
        .container
          form.courses-filter.row
            h4.courses-filter__title.col-sm-3 Фільтрувати
            .courses-filter__form-line.col-sm-3
              select.basic-select(data-filter='cat')
                option(value='') Напрям
                option(value='constr') Конструювання
                option(value='progr') Програмування
            .courses-filter__form-line.age.col-sm-3
              select.basic-select(data-filter='age')
                option(value='') Вік
                option(value='5') 5+
                option(value='8') 8+
                option(value='9') 9+
                option(value='18') 18+
            .courses-filter__form-line.col-sm-3
              select.basic-select(data-filter='pay')
                option(value='') Платність
                option(value='free') Безкоштовно
                option(value='premium') Платно
          ul.big-news.courses.row
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '18', 'free', './images/news_1.jpg', 'orange')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '8', 'free', './images/news_2.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '5', 'free', './images/news_3.jpg', 'orange')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_4.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_1.jpg', 'orange')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '18', 'free', './images/news_1.jpg', 'blue')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '8', 'free', './images/news_2.jpg', 'orange')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '5', 'free', './images/news_3.jpg', 'blue')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_4.jpg', 'orange')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_1.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '18', 'free', './images/news_1.jpg', 'orange')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '8', 'free', './images/news_2.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '5', 'free', './images/news_3.jpg', 'orange')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_4.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '9', 'free', './images/news_1.jpg', 'orange')
            +coursePreview('progr', 'Lorem Ipsum is simply dummy text', '8', 'free', './images/news_3.jpg', 'blue')
            +coursePreview('constr', 'Lorem Ipsum is simply dummy text', '5', 'free', './images/news_2.jpg', 'orange')
        +contacts()
      +footer()
