include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/preview

doctype html
html(lang='uk')
  +head('RoboClub Gallery')
  body.gallery
    .wrapper
      +header('gallery')
      main.content
        h2.content-title Галерея
        .container
          .row.filter-wrapper
            .basic-btn.yellow.filter-button.active(data-filter='all') Все
            .basic-btn.yellow.filter-button(data-filter='photo') Фото
            .basic-btn.yellow.filter-button(data-filter='video') Відео
          .row.gallery-wrapper
            .row
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_1.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'video'},
                date: '20 січня 2017',
                bgSRC: './images/news_2.jpg',
                link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_3.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_4.jpg',
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_3.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'video'},
                date: '20 січня 2017',
                bgSRC: './images/news_4.jpg',
                link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_2.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_1.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_4.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'video'},
                date: '20 січня 2017',
                bgSRC: './images/news_1.jpg',
                link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_3.jpg',
                gallery: true,
              })
              +preview({
                title: 'Lorem ipsum dolor sit amet',
                attrs: {'data-type': 'photo'},
                date: '20 січня 2017',
                bgSRC: './images/news_2.jpg',
                gallery: true,
              })
        +contacts()
      +footer()