include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/preview

doctype html
html(lang='uk')
  +head('RoboClub News')
  body
    .wrapper
      +header('news')
      main.content
        h2.content-title Новини
        .container
          .slick-news-slider
            .slide
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
            .slide
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html' })
              +preview({ title: 'Lorem ipsum is simply dummy text', date: '20 січня 2017', bgSRC: './images/news_1.jpg', link: './article.html', blue: true })
          ul.pager-list
            li.pager-list__item
              span.pager-list__link.slick-news-slider-prev &#9668
            li.pager-list__item
              span.pager-list__link.slick-news-slider-next &#9658
        +contacts()
      +footer()