include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/report
include ./templates/footer


doctype html
html(lang='uk')
  +head('RoboClub Reports')
  body
    .wrapper
      +header('about')
      main.content
        h2.content-title Фінансові звіти
        .container
          ul.reports-list.row
            +report('20 квітня 2017', '1Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
            +report('20 квітня 2017', '2Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
            +report('20 квітня 2017', '3Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
            +report('20 квітня 2017', '4Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
            +report('20 квітня 2017', '5Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
            +report('20 квітня 2017', '6Lorem Ipsum is simply dummy text of the printing and typesetting industry', 'Дивитись')
        +contacts()
      +footer()