include ./templates/head
include ./templates/header
include ./templates/contacts
include ./templates/footer
include ./templates/team

doctype html
html(lang='uk')
  +head('RoboClub Team')
  body.team
    .wrapper
      +header('about')
      main.content
        h2.content-title Наша команда
        .container
          .row
            +teamMember('Jane Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('John Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('John Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('Jane Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('John Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('Jane Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('John Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
            +teamMember('Jane Doe', 'Lorem ipsum', './images/team/team_1.png', [
              {name: 'facebook', link: 'http://facebook.com' },
              {name: 'instagram', link: 'http://instagram.com' }
            ])
        .row.button-wrapper
          .basic-btn.yellow Стати членом команди
        +contacts()
      +footer()